*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# ctags
tags
# Custom ignore list
.ruby-version
pdfmarks
pdfs2pdf_output.pdf
